body, html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('/static/imgs/bg_1.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

.nav-list {
}